.popup__container {
    margin: auto;
    max-width: 430px;
    background: #FFF;
    border-radius: 10px;
    z-index: 2;
    display: flex;
    position: relative;
}

@media screen and (max-width: 530px) {
    .popup__container {
        max-width: 282px;
    }
}