.popup__container {
    margin: 195px auto;
    width: 430px;
    height: 330px;
    background: #FFF;
    border-radius: 10px;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


@media screen and (max-width: 468px) {
    .popup__container {
        margin: 123px auto;
        width: 282px;
        height: 322px;
    }
}