.profile__profile-info {
    margin: 22px auto auto 0;
    min-width: 336px;
    max-height: 73px;
    flex-wrap: wrap;
    display: inline-block;
}

@media screen and (max-width: 540px) {
    .profile__profile-info {
        margin: 26px auto 0;
        max-height: 73px;
    }
}

@media screen and (max-width: 425px) {
    .profile__profile-info {
        max-height: 54px;
    }
}