.popup__close-button {
    padding: 0;
    width: 32px;
    height: 32px;
    background-image: url(../../../images/close-Icon.svg);
    background-color: rgba(0, 0, 0, 0);
    background-size: 32px;
    border: none;
    position: absolute;
    top: calc(50vh - 209px);
    right: calc(50vw - 255px);
}

.popup__close-button:hover {
    opacity: 0.6;
    cursor: pointer;
}

@media screen and (max-width: 515px) {
    .popup__close-button {
        background-size: 20px;
        width: 20px;
        height: 20px;
        top: calc(50vh - 197px);
        right: calc(50vw - 141px);
    }
}