.profile__avatar {
    margin-right: 30px;
    max-width: 120px;
    max-height: 120px;
    border-radius: 50%;
}

@media screen and (max-width: 540px) {
    .profile__avatar {
        margin-right: 19px;
        margin-left: 19px;
    }
}