.profile__edit-name {
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    justify-content: center;
}

@media screen and (max-width: 754px) {
    .profile__edit-name {
        max-width: 569px;
        left: 21px;
    }
}

@media screen and (max-width: 620px) {
    .profile__edit-name {
        left: 14px;
    }
}