.profile__edit-name {
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    justify-content: center;
}

@media screen and (max-width: 540px) {
    .profile__edit-name {
        max-height: 73px;
        left: 21px;
    }
}

@media screen and (max-width: 425px) {
    .profile__edit-name {
        max-height: 54px;
        left: 14px;
    }
}