.elements__element_like {
    margin-top: 5px;
    margin-right: 5px;
    height: 19px;
}

.elements__element_like:hover {
    opacity: 0.5;
}

.elements__element_like:active {
    background: #000;
}