.profile__profile-info_edit-name {
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    justify-content: center;
    left: 14px;
}

@media screen and (max-width: 540px) {
    .profile__profile-info_edit-name {
        max-height: 73px;
    }
}

@media screen and (max-width: 425px) {
    .profile__profile-info_edit-name {
        max-height: 54px;
    }
}